body{
	text-align:center;
	width:350px;
	border:2px solid black;
	font-family: 'Kanit', sans-serif;
}

.title{
	display:flex;
	align-items: center;
	justify-content: center;
	background-color: black;
}

img{
	width:20px;
	height:20px;
	padding: 10px;
}

h1{
	font-size:20px;
	font-family: 'Kanit', sans-serif;
	color: #deb902;
}

h2{
	font-family: 'Raleway', sans-serif;
	margin:10px;
}

#language{
	font-family: 'Kanit', sans-serif;
	font-size:20px;
}